{% extends "base.html" %}

{% block title %}
Import Recipe
{% endblock %}

{% block content %}

<h1>Import Recipe</h1>

<p>
    Take photos of a recipe or choose existing recipe photos
    from your device.
</p>

{% if error %}

    <p class="import-error">
        {{ error }}
    </p>

{% endif %}


<form
    id="import-form"
    method="POST"
    enctype="multipart/form-data"
>

    <!--
        This is the file input that actually gets submitted
        to Flask. It can contain multiple recipe photos.
    -->

    <input
        id="recipe-files"
        type="file"
        name="recipe_files"
        accept="image/*"
        multiple
        class="hidden-file-input"
    >


    <div class="import-photo-options">

        <!-- Take a new photo -->

        <div class="import-option">

            <label
                for="camera-file"
                class="button"
            >
                📷 Take Photo
            </label>

            <input
                id="camera-file"
                type="file"
                accept="image/*"
                capture="environment"
                class="hidden-file-input"
            >

        </div>


        <!-- Choose photos already on the device -->

        <div class="import-option">

            <label
                for="photo-library"
                class="button"
            >
                🖼 Choose Existing Photos
            </label>

            <input
                id="photo-library"
                type="file"
                accept="image/*"
                multiple
                class="hidden-file-input"
            >

        </div>

    </div>


    <p
        id="selected-file-message"
        class="form-help"
    >
        No recipe photos selected.
    </p>


    <button
        id="upload-button"
        type="submit"
    >
        Upload Recipe
    </button>

</form>


<!-- Loading screen -->

<div
    id="import-loading"
    class="import-loading"
    style="display: none;"
>

    <div class="import-spinner"></div>

    <h2>Importing Your Recipe</h2>

    <p id="import-loading-message">
        📤 Uploading your recipe images...
    </p>

    <p
        id="import-file-message"
        class="import-loading-note"
    ></p>

    <p class="import-loading-note">
        Please keep this page open while the recipe is processed.
    </p>

</div>


<script>

    const importForm =
        document.getElementById("import-form");

    const cameraInput =
        document.getElementById("camera-file");

    const photoLibraryInput =
        document.getElementById("photo-library");

    const recipeFilesInput =
        document.getElementById("recipe-files");

    const selectedFileMessage =
        document.getElementById("selected-file-message");

    const importLoading =
        document.getElementById("import-loading");

    const importFileMessage =
        document.getElementById("import-file-message");


    /*
        This stores all of the photos that will
        eventually be submitted to Flask.
    */

    let selectedPhotos = new DataTransfer();


    function updateFiles() {

        recipeFilesInput.files =
            selectedPhotos.files;

        const count =
            selectedPhotos.files.length;


        if (count === 0) {

            selectedFileMessage.textContent =
                "No recipe photos selected.";

        }

        else if (count === 1) {

            selectedFileMessage.textContent =
                "1 recipe photo selected. Take another photo if needed.";

        }

        else {

            selectedFileMessage.textContent =
                count + " recipe photos selected.";

        }

    }


    /*
        CAMERA

        Every new photo is ADDED to the collection
        instead of replacing the previous photo.
    */

    cameraInput.addEventListener(
        "change",
        function () {

            if (
                cameraInput.files &&
                cameraInput.files.length > 0
            ) {

                for (
                    const file of cameraInput.files
                ) {

                    selectedPhotos.items.add(file);

                }

                updateFiles();

            }


            /*
                Clearing this input lets the user
                press Take Photo again.
            */

            cameraInput.value = "";

        }
    );


    /*
        PHOTO LIBRARY

        Existing photos are also added to the same
        collection.
    */

    photoLibraryInput.addEventListener(
        "change",
        function () {

            if (
                photoLibraryInput.files &&
                photoLibraryInput.files.length > 0
            ) {

                for (
                    const file of photoLibraryInput.files
                ) {

                    selectedPhotos.items.add(file);

                }

                updateFiles();

            }


            photoLibraryInput.value = "";

        }
    );


    /*
        FORM SUBMISSION
    */

    importForm.addEventListener(
        "submit",
        function (event) {

            const fileCount =
                selectedPhotos.files.length;


            if (fileCount === 0) {

                event.preventDefault();

                selectedFileMessage.textContent =
                    "Please take or select at least one recipe photo.";

                return;

            }


            /*
                Make absolutely sure the combined
                collection is attached to the real
                Flask file input.
            */

            recipeFilesInput.files =
                selectedPhotos.files;


            /*
                Hide the form and show your existing
                loading screen.
            */

            importForm.style.display =
                "none";

            importLoading.style.display =
                "block";


            if (fileCount === 1) {

                importFileMessage.textContent =
                    "Reading 1 recipe image...";

            }

            else {

                importFileMessage.textContent =
                    "Reading " +
                    fileCount +
                    " recipe images...";

            }

        }
    );

</script>

{% endblock %}